<% include ../partials/header %>
<div class="container">

    <h1 style="text-align: center">Add a New Comment to <strong><%= campground.name %></strong>! :)</h1>
    <div class="form-div">
        <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="comment[text]" placeholder="comment body">
            </div>

            <div class="form-group">
                <input class="btn btn-primary btn-lrg btn-block" type="submit">
            </div>
            
        </form>
    </div>
    
  




<% include ../partials/footer %>